[submodule "GameEngine_ai22m003/vendor/spdlog"]
	path = GameEngine_ai22m003/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GEE/vendor/GLFW"]
	path = GEE/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
